@charset "UTF-8";

/* Elements */
body {
    background: #FFF;
}
a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: #FFF
}
h1 {
    font-size: 4.5em;
}
footer {
    position: absolute;
}

/* Classes and Ids */
.leftColumn {
    border: 1px;
    position: relative;
    width: auto;
    display: block;
    float: left;
    padding-left: 10%;
}
.rightColumn {
    border: 1px;
    position: relative;
    width: auto;
    display: block;
    float: right;
    padding-right: 12%;
}
.description {
    color: #666;
}

/* Test Classes */
#search {
    width: 30%;
    display: block;
    margin: 0 auto 10px auto;
}
.btn-primary {
    border-radius: 7px;
    background: #1073ce;
    color: #FFF;
    font-family: "Open Sans Regular";
    font-size: 2em;
    display: block;
    position: relative;
    margin: 20px auto 20px auto;
}
.ballPit {
    border: 1px solid #000;
    background: #FFF;
    overflow: hidden;
    position: relative;
    display: block;
    width: 50%;
    margin: 20px auto 10px auto;
    padding: 10px;
}
.ballRoom {
    position: relative;
    border-top: 10px solid #1073ce;
    width: 100%;
    padding: 10px;
    margin-top: 40px;
}
.clickable {
    display: inline-block;
    margin: 3px;
    cursor: pointer;
}
.searchDiv {
    float: none;
    background: #FFF;
    margin: 10px auto;
}
.header {
    background: #FFF;
    position: relative;
    width: 100%;
    padding: 0 5%;
}
.triangleDeco {
    padding-top: 2px;
    padding-right: 9px;
    direction: rtl;
    z-index: 1;
    position: absolute;
    width: 15px;
    height: 15px;
    left: 50%;
    top: -8px;
    margin-left: -50px;
    border: 0;
    background: #1073ce;
    border-radius: 2px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
