@charset "UTF-8";

/* Elements */
table {
    border: 1px;
    border-color: #000;
    margin: auto;
    margin-bottom: 15px;
    width: 100%;
    font-size: 1.2em;
}
th {
    font-size: 1.3em;
    font-weight: bold;
    font-family: "myriad-pro-condensed";
}
h1 {
    font-size: 4.5em;
}
td #center {
    width: auto;
}

/* Classes and Ids */
.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #e6f1ff;
}
.backToSearch {
    color: #FFF;
    background-color: #1073ce;
    display: block;
    vertical-align: middle;
    border-radius: 14px;
    margin:  10px auto;
    padding: 10px 15px;
    width: 30%;
    font-family: "Open Sans Regular";
    font-size: 1.2em;
    text-transform: uppercase;
    text-align: center;
}
.backToSearch a:active, .backToSearch a:hover, .backToSearch a:link, .backToSearch a:visited {
    color: #FFF;
    text-decoration: none;
}
.clickable {
    margin: 0 0 10px 0;
}
.empty {
    font-size: 1.2em;
}
