{% extends "base.html" %}
{% block style %}
<link rel="stylesheet" href="/static/css/index.css">
{% endblock %}

{% block container %}
<div class="leftColumn">
    <h3>Search by GenEd!</h3>
    <ul>
        {% for entryTuple in requirement: %}
        <li><a class="clickable" href="/{{ entryTuple[0] }}">{{ entryTuple[0] }}</a></li>
        {% endfor %}
    </ul>
</div>
<div class="rightColumn">
    <h3>Search by Multiple GenEds!</h3>
    <form id="searchMultiple" action="/searchMult/" method="post">
        {% for entryTuple in requirement: %}
        <input type="checkbox" name="{{ entryTuple[0] }}" value="{{ entryTuple[0] }}">{{ entryTuple[0] }}</br>
        {% endfor %}
        <input type="submit" value="Submit">
    </form>
</div>
{% endblock %}
